.container {
    margin: 0% 0%;
    background: rgb(236, 236, 236);
    display: grid;




    grid-auto-rows: minmax(1fr, auto);
    grid-auto-columns: minmax(1fr, auto);
    grid-template-areas:
        "head head head head head head head"
        "head head head head head head head"
        "side navi navi navi navi navi sid "
        "side navi navi navi navi navi sid "
        "side hea hea hea hea hea      sid"
        "side hea hea hea hea hea      sid"
        "side hea hea hea hea hea      sid"
        "side hea hea hea hea hea      sid"
        "side hea hea hea hea hea      sid"
        "side hea hea hea hea hea      sid"
        "side hea hea hea hea hea      sid"
        "side hea hea hea hea hea      sid"
        "side cont cont cont cont cont sid "
        "side cont cont cont cont cont sid "
        "side cont cont cont cont cont sid "
        "side cont cont cont cont cont sid "
        "side cont cont cont cont cont sid "
        "side cont cont cont cont cont sid "
        "side cont cont cont cont cont sid "
        "side cont cont cont cont cont sid "
        "side cont cont cont cont cont sid "
        "side cont cont cont cont cont sid "
        "side cont cont cont cont cont sid "
        "side cont cont cont cont cont sid "
        "side cont cont cont cont cont sid "
        "side cont cont cont cont cont sid "
        "side cont cont cont cont cont sid "
        "foot foot foot foot foot foot foot"
        "foot foot foot foot foot foot foot"
        "foot foot foot foot foot foot foot"
        "foot foot foot foot foot foot foot"
        "foot foot foot foot foot foot foot";

//     row-gap: 30px;
//     column-gap: 20px;



    justify-items: stretch;
    align-items: stretch;

}

.head2 {

    border-radius: 10px;
    align-items: center;
     margin-top: 10px;
   
  
height: fit-content;
    background-color: rgb(255, 255, 255);
    text-align: center;
    color: #7c7c7c;
}




.general {
    border-radius: 10px;
    margin: 5px 10px;
    background-color: rgb(255, 255, 255);
    justify-items: center;
    align-items: center;
    text-align: center;
     border: 40px solid rgb(255, 255, 255);
    color: #a8a8a8;
}

header {

    grid-area: head;
    min-height: 500px;



}

.head2 {

    grid-area: hea;
}


nav {

    font-size: 20px;

    grid-area: navi;
}

section {

    grid-area: cont;
}

aside {
    grid-area: side;
}

.sid {

    grid-area: sid;
}

footer {
    grid-area: foot;
}
